* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template: "nav header" auto
                    "nav main"  1fr
                    "footer footer" auto/
                    auto 1fr;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    grid-area: nav;
    background-color: black;
    padding: 1rem;
    display: grid;
    grid-template-rows: 50px 1fr 200px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

nav .logo img {
    width: 200px;
}

nav .side-nav {
    color: whitesmoke;
    margin-top: 2rem;
    padding-left: 1rem;
    align-self: start;
}

nav .side-nav ul li {
    list-style: none;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;

}

nav .side-nav ul li:active {
    border-left: green solid 2px;

}

nav .side-nav ul li a {
    color: darkgray;
    text-decoration: none;
}

nav .side-nav ul li a.menu-item {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}

nav .side-nav ul li a.title {
    color: white;
}

nav .side-nav ul.playlist {
    margin-top: 2rem;
}

nav .side-nav ul li a.playlist {
    text-transform: uppercase;
    font-weight: bold;
}

nav .side-nav ul li a.menu-item .svg-wrapper {
    background-color: grey;
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
}

nav .side-nav ul li img.icon {
    width: 25px;
}

nav .profile {
    align-self: end;
    display: grid;
    grid-template-rows: 50px 1fr;
    margin-bottom: 1rem;
    align-items: center;
}

nav .profile .profile-bottom {
    display: grid;
    grid-template-columns: 50px 1fr;
}

nav .profile .install-wrapper {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid grey;
}

nav .profile img {
    width: 20px;
}

nav .profile p {
    color: grey;
    display: inline-block;
    font-size: 0.8rem;
}

nav .profile h2 {
    color: whitesmoke;
    width: 150px;
    display: inline-block;
    font-size: 1rem;
    align-self: center;
}

nav .profile svg {
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;

}

main {
    background-color: rgb(83, 83, 83);
}

header {
    display: grid;
    height: 75px;
    padding: 1rem;
    justify-content: right;
    align-items: center;

}

header button {
    width: 150px;
    height: 50px;
    background-color: black;
    border: solid 2px white;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

main, header {
    background-image: linear-gradient(rgba(0,0,0,.6),#121212);
}

main {
    overflow: scroll;
}

main .top-nav {
    text-align: center;
    margin: 1rem;
}

main .top-nav ul li {
    list-style: none;
    display: inline;
    margin-left: 1rem;
}

main .top-nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: lightgrey;
    display: inline-grid;
    justify-items: center;
}

main .top-nav ul a .underline {
    display: inline-block;
    transition: 0.3s;
    width: 0;
}

main .top-nav ul a:active .underline {
    background-color: green;
    height: 2px;
    width: 50px;
}

main .top-nav ul a span {
    display: inline-block;
}

main .albums {
    display: grid;
    grid-auto-rows: fit-content;
}

main .albums h2 {
    margin: 1rem;
    color: whitesmoke;
    display: block;
}

main .albums .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    margin-left: 1rem;
}

main .albums .popular img {
    border-radius: 50%;
}

main .albums .list img {
    width: 150px;
    justify-self: center;
}

main .albums p {
    margin: 1rem;
    color: rgb(179, 179, 179);;
    font-size: 0.75rem;
}

main .albums .list p {
    text-align: center;
}

main .albums .list p.title {
    color: whitesmoke;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0.75rem;
}

main .albums .list p.subtitle {
    color: rgb(179, 179, 179);
    font-size: 0.75rem;
}



footer {
    background-color: #181818;
    height: 100px;
    width: 100vw;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
}

footer .left {
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    place-items: center;
}

footer .left img {
    width: 75px;
    padding: 0.5rem;
}

footer .left .song-info {
    justify-content: start;
}

footer .left p {
    color: whitesmoke;
}

footer .left p.title {
    font-size: 1rem;
}

footer .left p.artist {
    font-size: 0.75rem;
    color: rgb(179, 179, 179);
}

footer .left .svgs svg {
    display: inline-block;
    fill: white;
    margin-right: 1rem;
}

footer .middle {
    display: grid;
    grid-template-rows: auto auto;
    place-items: center;
}

footer .middle .middle-top {
    display: grid;
    grid-template-columns: repeat(5, 3rem);
    margin-top: 1rem;
    place-items: center;
}

footer .middle .middle-top svg.player-icon {
    display: inline;
    fill: whitesmoke;
}

footer .middle .middle-top .play-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: whitesmoke;
    align-self: center;
    display: grid;
    place-items: center;
}

footer .middle .middle-top svg.play {
    fill: black;
    border-radius: 50%;

}

footer .middle .middle-bottom {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 1rem;
    color: rgb(179, 179, 179);
    font-size: 0.75rem;
    align-self: start;
    place-items: center;
}

footer .middle .middle-bottom .progress-bar {
    width: 350px;
    height: 5px;
    background-color: rgb(179, 179, 179);
    margin: 0 0.5rem;
    border-radius: 2px;
}

footer .middle .middle-bottom .progress {
    width: 50%;
    background-color: whitesmoke;
    height: 5px;
    border-radius: 2px;
}

footer .right {
    display: grid;
    grid-template-columns: repeat(3, 30px) 100px;
    place-items: center;
}

footer .right svg {
    width: 20px;
    fill: whitesmoke;
}

footer .right svg.tv {
    width: 15px;
}

footer .right .volume {
    width: 100px;
    height: 5px;

}

